<div class="album py-5">
    <div class="container">
        <h1 class="my-2">Add a Package</h1>

        <div class="row row-cols-1 row-cols-sm-2 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="title" class="form-label">Package title</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="Enter package title"
                            pattern="[A-Za-z0-9]+" minlength="3" maxlength="15" 
                            title="Title must be alphanumeric and between 3 and 15 characters long." [(ngModel)]="package.title" required />
                        </div>

                        <div class="mb-3">
                            <label for="weight" class="form-label">Weight</label>
                            <input type="number" id="weight" name="weight" class="form-control" placeholder="Enter weight"
                            min="0.001" step="any" title="Weight must be a positive non-zero value." [(ngModel)]="package.weight" required />
                        </div>
                        
                        <div class="mb-3">
                            <label for="destination" class="form-label">Destination</label>
                            <input type="text" id="destination" name="destination" class="form-control" placeholder="Enter destination"
                            pattern="[A-Za-z0-9]+" minlength="3" maxlength="15" 
                            title="Destination must be alphanumeric and between 3 and 15 characters long." [(ngModel)]="package.destination" required />
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description (optional)</label>
                            <textarea id="description" name="description" class="form-control" placeholder="Enter a description (max 30 characters)" maxlength="30" [(ngModel)]="package.description" ></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Is package allocated?</label>
                            <div class="form-check">
                                <input type="radio" id="isAllocatedYes" name="isAllocated" [value]="true" class="form-check-input" [(ngModel)]="package.isAllocated" required />
                                <label for="isAllocatedYes" class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="isAllocatedNo" name="isAllocated" [value]="false" class="form-check-input" [(ngModel)]="package.isAllocated" />
                                <label for="isAllocatedNo" class="form-check-label">No</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="driverId" class="form-label">Driver's Name</label>
                            <select id="driverId" name="driverId" class="form-control" [(ngModel)]="package.driverId" required>
                                @for (driver of drivers; track $index) {
                                    <option [value]="driver._id">{{driver.name}}</option>
                                }
                            </select>
                        </div>
            
                        <button class="btn btn-success" (click)="addPackage()">Add package</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>