<div class="album py-5">
    <div class="container">
        <h1 class="my-2">Signup</h1>

        <div class="row row-cols-1 row-cols-sm-2 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" name="username" class="form-control"
                            pattern="[A-Za-z0-9\s]+" minlength="6"
                            title="Username must be alphanumeric and at least 6 characters long." [(ngModel)]="user.username" required />
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                            minlength="5" maxlength="10"
                            title="Password must be between 5 and 10 characters long." [(ngModel)]="user.password" required />
                        </div>

                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                            minlength="5" maxlength="10"
                            title="Password must be between 5 and 10 characters long." [(ngModel)]="user.confirmPassword" required />
                        </div>
                        
                        <button class="btn btn-primary" (click)="signupUser()">Signup</button>
                        <a class="btn btn-success mx-2" routerLink="/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>