<div class="footer container-fluid p-4 bg-light text-center text-lg-start mt-auto">
    <div class="row justify-content-center">
        <div class="col-lg-3 mb-3">
            <h3 class="text">Zhi'En Foo</h3>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text">About Us</h5>
            <p>
                At ParcelPro, we are committed to leveraging the latest technologies to provide our clients with innovative tools that enhance operational efficiency and customer satisfaction, ensuring that every parcel reaches its destination smoothly and securely.
            </p>
        </div>
        
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text">Contact Us</h5>
            <p>
                Email: zfoo0004&#64;student.monash.edu<br>
                Student ID: 33251282<br>
                Phone: +61 423 456 789<br>
                Address: FIT2095, FIT, Monash University
            </p>
        </div>
    </div>
</div>