<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">ParcelPro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="w-100 d-flex">
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="driversDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage Drivers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="driversDropdown">
                            <li><a class="dropdown-item" routerLink="/list-drivers">List of drivers</a></li>
                            <li><a class="dropdown-item" routerLink="/add-driver">Add a driver</a></li>
                            <li><a class="dropdown-item" routerLink="/update-driver">Update a driver</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="packagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage Packages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="packagesDropdown">
                            <li><a class="dropdown-item" routerLink="/list-packages">List of packages</a></li>
                            <li><a class="dropdown-item" routerLink="/add-package">Add a package</a></li>
                            <li><a class="dropdown-item" routerLink="/update-package">Update a package</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="cloudServicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cloud Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="cloudServicesDropdown">
                            <li><a class="dropdown-item" routerLink="/translate-description">Translate</a></li>
                            <li><a class="dropdown-item" routerLink="/text-to-speech">Text to Speech</a></li>
                            <li><a class="dropdown-item" routerLink="/generative-ai">Generative AI</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/statistics">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
