<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">ParcelPro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="w-100 d-flex justify-content-center">
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="/33251282/Zhi'En/drivers">List of drivers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/33251282/Zhi'En/drivers/filter">Filter drivers by department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/33251282/Zhi'En/drivers/add">Add a driver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/33251282/Zhi'En/drivers/delete">Delete a driver</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link mx-2">|</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/33251282/Zhi'En/packages">List of packages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/33251282/Zhi'En/packages/add">Add a package</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/33251282/Zhi'En/packages/delete">Delete a package</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link mx-2">|</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/33251282/Zhi'En/stats">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/33251282/Zhi'En/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
