<div class="album py-5">
    <div class="container">
        <h1 class="my-2">Delete a Driver by ID</h1>

        <div class="row row-cols-1 row-cols-sm-2 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="driverId" class="form-label">Driver's ID</label>
                            <input type="text" id="driverId" name="driverId" class="form-control" placeholder="Enter driver's ID (MongoDB ID)" [(ngModel)]="id" required />
                        </div>
            
                        <button class="btn btn-danger" (click)="deleteDriver()">Delete driver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>