<div class="album py-5">
    <div class="container">
        <h1 class="my-2">List of Drivers</h1>

        <div class="row row-cols-1 g-3">
            <div class="col">
                @if (drivers.length === 0) {
                    <div class="alert alert-warning">
                        <h3>No drivers at the moment.</h3>
                    </div>
                } @else {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Driver ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Licence</th>
                                <th scope="col">Is Active?</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                        @for (driver of drivers; track $index) {
                            <tr>
                                <td scope="row">{{driver._id}}</td>
                                <td scope="row">{{driver.id}}</td>
                                <td scope="row">{{driver.name | uppercase}}</td>
                                <td scope="row">{{driver.department}}</td>
                                <td scope="row">{{driver.licence}}</td>
                                <td scope="row">{{driver.isActive | yesNo}}</td>
                                <td scope="row">{{driver.createdAt | date: 'MM/dd/yyyy, hh:mm:ss a'}}</td>
                                <td scope="row">
                                    <button class="btn btn-primary me-2" (click)="showPackagesDetails(driver.assignedPackages, driver._id)">Packages</button>
                                    <app-delete-driver [id]="driver._id" (onDelete)="getDrivers()"></app-delete-driver>
                                </td>
                            </tr>
                            @if (selectedPackages && selectedDriverId === driver._id) {
                                <tr>
                                    <td colspan="8">
                                        <app-packages-details [packages]="selectedPackages"></app-packages-details>
                                    </td>
                                </tr>
                            }                            
                        }  
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>    