<div class="album py-5">
    <div class="container">
        <h1 class="my-2">List of Drivers</h1>

        <div class="row row-cols-1 g-3">
            <div class="col">
                @if(drivers.length === 0) {
                    <h3>No drivers at the moment.</h3>
                } @else {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Licence</th>
                                <th scope="col">Is Active?</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (driver of drivers; track $index) {
                            <tr>
                                <td scope="row">{{driver.id}}</td>
                                <td scope="row">{{driver.name}}</td>
                                <td scope="row">{{driver.department}}</td>
                                <td scope="row">{{driver.licence}}</td>
                                <td scope="row">{{ driver.isActive ? 'Yes' : 'No' }}</td>
                                <!-- <td scope="row">{{ driver.createdAt | date: 'MM/dd/wyyyy, hh:mm:ss a' }}</td> -->
                                <td>
                                    <button class="btn btn-danger" (click)="deleteDriver(driver.id)">Delete</button>
                                </td>
                            </tr>
                            }  
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>