html, body {
  height: 100%; 
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

app-home, app-list-drivers, app-add-driver, app-delete-driver, app-update-driver, app-list-packages, app-add-package, app-delete-package, app-update-package, app-page-not-found, app-invalid-data, app-statistics, app-login, app-signup {
  flex: 1; 
}

app-footer {
  background-color: lightgray;
  width: 100%; 
}
