html, body {
  height: 100%; 
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

app-list-drivers, app-add-driver, app-delete-driver, app-update-driver {
  flex: 1; 
}

app-footer {
  background-color: lightgray;
  width: 100%; 
}
